<section class="all-items">
  <header>
    <h1 class="h3">All Item</h1>
  </header>

  <ol class="list-group">
    <% @items.each do |item| %>
      <li class="list-group-item">
        <h3><%= item.name %></h3>
        <div class="media">
          <%= link_to image_tag(item.item_images.first.image.url(:thumb),
            class: 'media-object'),
            item.item_images.first.image.url,
            target: '_blank' %>
        </div>
      </li>
    <% end %>
  </ol>

  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</section>
