<% provide(:title, 'Home') %>

<div class="row">
  <h1>Give2Get</h1>
  <p>
    This is the home page for the
    <a href="http://give2get.com/">give2get</a>
    web app.
  </p>

  <div class="items">
    <%= render "items" %>
  </div>

  <%= will_paginate @items %>
</div>
