<% provide(:title, 'Home') %>

<div class="row">
  <div id="modal" class="modal fade"></div>
  <h1>Give2Get</h1>
  <p>
    This is the home page for the
    <a href="http://give2get.com/">give2get</a>
    web app.
  </p>
  <div class="search-form" ng-controller="ItemSearchController as search">
    <form>
      <div class="input-group input-group-lg">
        <label for="keywords" class="sr-only">Keywords</label>
        <input type="text" name="keywords"
                class="form-control input-lg"
                placeholder="Item Name or Description"
                ng-model="search.keywords">
        <span class="input-group-btn">
          <button class="btn btn-primary btn-lg" ng-click="search.search()">
            Search Items
          </button>
        </span>
      </div>
    </form>
    <div class="items">
      <li class="list-group-item clearfix" ng-repeat="item in search.items">
      <h2 class="h3">
      {{ item.name }} {{ item.description }}
      </h2>
      </li>
    </div>
  </div>
  <%= render 'relationships/dialog' %>
</div>
