<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate @users%>

<table id class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>email</th>
    <th>item count</th>
  </tr>
  </thead>
  <tbody id="users">
    <%= render @users %>
  </tbody>
</table>

<%= will_paginate @users%>
