// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.my-items, .exchanged-items{
  height: 297px;
  margin-top: 20px;
}

.item-description {
  width: 22em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.item-image:hover {
  outline: 1px solid black;
}
