// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group-item {
  padding: 0 0 0 0;
  height: 221px;
  // position: absolute
}


.item-name {
  position: relative;
  left: 20px;
}

.exchanged-items-submitted, .exchanged-items-holder {
  height: 100px;
  position: relative;
  top: -20px ;
}
