.box-search-lg {
  //position: relative;
}

.location-select > .form-control {
  height: 45px;
  width: 20%;
  border-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  float: left;
}

.category-select > .form-control {
  height: 45px;
  width: 20%;
  border-radius: 0;
  float: left;
}

.search-box > .form-control {
  height: 45px;
  width: 40%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  float: left;
}

.box-search-lg > .btn {
  float: left;
  width: 10%;
  margin-left: 10px;
}
